.slider-show {
  overflow-x: hidden;
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  position: relative;
}

.slider-container {
  position: relative;
  width: 100%;
  display: flex;
}

.slider-container2 {
  position: relative;
  top: -64vh;
  width: 100%;
  display: flex;
}

.slider-box {
  position: relative;
  width: 20%;
  height: 64vh;
  overflow: hidden;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #000 100%);
}

.slider-box:hover {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}

.slider-box > .slider-image {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: -1;
  transition: transform 300ms;
}

.slider-box > p,
.slider-box > h2 {
  color: white;
  position: absolute;
  left: 10%;
}

.slider-box > .slider-rating {
  bottom: 25%;
  transition: bottom 0.3s;
  transition: all 300ms;
}

.slider-box:hover > .slider-rating {
  bottom: 30%;
}

.slider-box > .slider-rating::before {
  content: "\2B50 ";
  font-size: 20px;
}

.slider-box > .slider-genres {
  transition: bottom 0.3s;
  bottom: 3%;
  transition: all 300ms;
}

.slider-box:hover > .slider-genres {
  transition: bottom 0.3s;
  bottom: 9%;
}

.slider-box > .slider-cast {
  bottom: -10%;
  transition: bottom 0.6s;
  transition: all 300ms;
}

.slider-box:hover > .slider-cast {
  transition: bottom 0.6s;
  bottom: 2%;
}

.slider-box > h2 {
  font-size: 22px;
  bottom: 9%;
  transition: all 300ms;
}

.slider-box:hover > h2 {
  transition: bottom 0.3s;
  bottom: 17%;
}

.slider-box > .fa-play-circle {
  position: absolute;
  font-size: 0;
  color: white;
  left: 50%;
  top: 35%;
  transform: translateX(-50%);
  transition: all 300ms;
}

.slider-box:hover > .fa-play-circle {
  position: absolute;
  font-size: 70px;
  color: white;
  left: 50%;
  top: 35%;
  transform: translateX(-50%);
}

.slider-box:hover > .slider-image {
  transform: scale(1.3);
}

.slider-box > .fa-play-circle:hover,
.slider-box > h2:hover {
  color: #f26522;
  cursor: pointer;
}
